# Ignore virtual environment
kaggle/

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variables file
.env
.kaggle/

# Ignore macOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db